.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: black;
}
.logo img {
    width: 16vw;
    height: auto;
}
.content {
    display: flex;
    gap: 5vw;
    color: #FFFFFF;
}
.content  ul{
    font-size: clamp(14px, 1vw + 0.5rem, 16px);
    display: flex;
    align-content: center;
    color: #FFFFFF;
    list-style: none;
    gap: 5vw;
}
.content link {
    color: #FFFFFF;
}
.content button {
    
    padding-left: 1.5vw;
    padding-right: 2vw;
    border-radius: 6px;
    color: #100f0f;
    background-color: rgb(196, 227, 239);
    border: none;
}
.content button:hover {
    background-color: rgb(255, 136, 0);
    color: black;
}
.content input {
    width: 20vw;
    border-radius: 15px;
    padding: 0.4vw;
    padding-left: 1.5vw;


}
.mylink {
    color: #FFFFFF;
}
.mylink:hover {
    color: red;

}